:root { 
    --c-dark:rgb(25, 2, 2);
    --c-brand:rgb(99, 0, 0);
    --c-brand-light: rgb(120, 43, 43);
    --c-body: rgb(77, 71, 71);
    --font-base: sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1)
    --transition: all 0.5s ease;
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light)
}

.navbar.navbar {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand);
}