// Define your custom colors
$primary: rgb(133, 16, 16);
$secondary: rgba(129, 15, 15, 0.483);

// Merge the custom colors into Bootstrap's theme colors
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

// Import Bootstrap's functions and variables
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// Include other Bootstrap components as needed
@import "node_modules/bootstrap/scss/bootstrap";

.html,
.body {
  max-width: 100%;
  overflow-x: hidden;
}

.aos-init:not(.aos-animate):after {
  position: fixed;
}

.navbar {
  background-color: var(--bs-light);
  // height: 8vh;
}

.navbar-brand {
  height: 7vh;
  display: flex;
  align-items: center;

  img {
    height: 100%;
    width: auto;
  }
}

.navbar-nav .nav-item {
  margin-left: 1rm;
}

.navbar-nav .nav-link {
  color: gray;
  position: relative;
  font-size: large;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: black;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--bs-primary);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link.active::before {
  width: 100%;
  visibility: visible;
}

.section-header {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  color: #343a40;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 15%;
    height: 2px;
    background-color: var(--bs-primary);
    margin: 0.5rem auto 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
  }
}

.hero-section {
  background: url("../img/new_hero.jpeg") no-repeat center;
  background-size: cover;
  height: 100%;
  position: relative;
}

.hero-section .container {
  height: 50vh;
  z-index: 1;
  position: relative;
  margin-bottom: 10px;
  margin-top: 8vh;
}

.hero-section::before {
  background-color: rgba(0, 0, 0, 0.0);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-section h1 {
  font-size: 1.5em;
}

.hero-section h2 {
  font-size: 1.1em;
}

.section .container {
  margin-top: 0.5rem;
}

.footer-nav-item:hover {
  font-weight: bold;
  transition: ease-in-out 0.1s;
}

.zoom-on-hover {
  transition: transform 0.2s;
}

.zoom-on-hover:hover {
  transform: scale(1.1);
}

.logo {
  font-family: "Libre Baskerville", serif;
  color: $primary;
  font-size: 2rem;
  position: relative;
}

.animate-counter {
  color: rgb(116, 116, 116);
  font-weight: bold;
}

.fs-7 {
  font-size: 0.875rem !important;
}

.timeline-container {
  --tl-color: lightgray;
  --tl-circle-color: var(--bs-light);
  --tl-circle-border-color: var(--bs-primary);
  --tl-indicator-color: var(--bs-white);
  --tl-circle-size: 2rem;
  --tl-circle-offset: 1rem;
  --tl-circle-border-size: 2px;
  --tl-date-font-size: 2rem;
}
.timeline-container .timeline {
  list-style: none;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;
  position: relative;
}
.timeline-container .timeline:after {
  background-color: var(--tl-color);
  bottom: 0;
  content: "";
  left: 0;
  margin-left: -1px;
  position: absolute;
  top: 0;
  width: 2px;
}
@media (min-width: 768px) {
  .timeline-container .timeline:after {
    left: 33%;
  }
}
.timeline-container .timeline > .timeline-item {
  margin: 0;
  padding: 0;
  position: relative;
}
.timeline-container .timeline > .timeline-item .timeline-circle {
  background-color: var(--tl-circle-color);
  border: var(--tl-circle-border-size) solid var(--tl-circle-border-color);
  border-radius: 50%;
  content: "";
  height: var(--tl-circle-size);
  left: calc(var(--tl-circle-offset) * -1);
  position: absolute;
  top: calc(50% - var(--tl-circle-offset));
  width: var(--tl-circle-size);
  z-index: 1;
  transition: background-color 0.5s ease;
}
.timeline-container .timeline > .timeline-item .timeline-body {
  margin: 0;
  padding: 0;
  position: relative;
}
.timeline-container .timeline > .timeline-item .timeline-meta {
  padding: 0 0 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: $gray-600;
}
.timeline-container .timeline > .timeline-item:first-child .timeline-meta {
  padding: 2rem 0 1rem 2rem;
}
.timeline-container .timeline > .timeline-item .timeline-content {
  padding: 0 0 2rem 2rem;
}

@media (min-width: 768px) {
  .timeline-container .timeline > .timeline-item {
    left: 33%;
    width: 67%;
  }
  .timeline-container .timeline > .timeline-item .timeline-meta {
    display: flex;
    justify-content: flex-end;
    left: -100%;
    margin: 0;
    padding: 0 2rem 0 0;
    position: absolute;
    top: calc(50% - 2.25rem);
    width: 100%;
    z-index: 1;
  }
  .timeline-container .timeline > .timeline-item:first-child .timeline-meta {
    padding: 0 2rem 0 0;
  }
  .timeline-container .timeline > .timeline-item .timeline-content {
    padding: 2rem;
  }
  .timeline-container .timeline > .timeline-item .timeline-indicator {
    position: relative;
  }
}

.overlap {
  margin-left: -10rem;
  margin-top: 5rem;
}

.about-subpage-header {
  position: relative;
  padding-top: 7vh;
  .container {
    height: 93vh;
  }
}

.about-subpage-header:before {
  content: "";
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .clock {
    margin-top: -3rem;
  }
}

.card-logo-container {
  position: relative;
  text-align: center;
  margin-bottom: 5%;
}

.card-logo-container img {
  object-fit: contain;
}

.offer-card {
  transition: transform 0.3s;
}

.offer-card:hover {
  background-color: var(--bs-light);
  transform: scale(1.1) !important;
}

.contact-link {
  @extend .text-reset, .text-decoration-none;
  font-size: 1.25rem;
}

.contact-icon {
  font-size: 2rem;
}

.icon {
  color: $primary !important;
}

.contact-section-link {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.contact-section-link:hover {
  transform: scale(1.1);
}

.contact-section-link .link-text::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 55%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--bs-primary);
  visibility: hidden;
  transition: width 0.3s ease-in-out;
}

.contact-section-link:hover .link-text::before {
  width: 90%;
  visibility: visible;
}

.link-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.75rem !important;
  margin-right: 0.75rem !important;
  color: $primary !important;
}

.offer-list {
  list-style: none;
  padding-left: 0;
}
.offer-list li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.25rem;
}
.offer-list li::before {
  content: "\F287";
  font-family: "bootstrap-icons";
  position: absolute;
  left: 0.5rem;
  top: 0.65rem;
  color: $primary;
  font-size: 0.6rem;
}

.offer-tab-content {
  min-height: 55vh !important;
}

.offer-tab-link {
  font-weight: bold !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
